// .modal-container {
//   position: relative;
// }
// .modal-container .modal, .modal-container .modal-backdrop {
//   position: absolute;
// }


.grid {
  list-style: none;
  width: 100%;
  height: 100%;
  display: table;
  .grid-row {
      display: table-row;
    }

    .grid-square {
      display: table-cell;
      // vertical-align: middle;
      // text-align: center;
      // font-size: 5rem;
      // line-height: .9;
      width: 5em;
      height: 5em;
      border:1px solid #e7e5e1;
      // padding: 0;
      // overflow:auto;
      cursor: pointer;
    }

  }

  // .empty-square {
  //   cursor: pointer;
  //   &:hover {
  //     background-color: $color--secondary; // was #e7e5e1
  //   }
  // }

  // .empty-square {
  //   height:100%;
  //   width: 100%;
  //   background-color: blue;
  //   border:none;
  //   cursor: pointer;
  //
  //   &:hover {
  //     background-color: $color--secondary; // was #e7e5e1
  //   }
  // }
